.prof{
    color: red;
    background-color:black;
    text-align:center;
    text-decoration:blue underline;
    text-transform:uppercase;
    letter-spacing: 5px;
    text-shadow: greenyellow 2px 2px 5px;
    font-style: italic;
    font-size: 15px;
    background-image: url("https://images.shiksha.com/mediadata/images/1673527845php2yz5f8.jpeg");
    background-repeat:no repeat;
    background-size: cover;
    text-shadow: greenyellow 2px 2px 5px;
}